* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  text-decoration: none !important;
  list-style: none !important; }

nav {
  background: #333232;
  height: 6rem;
  width: 100%;
  padding-bottom: 80px; }
  nav .lavelNav {
    color: #fff;
    font-size: 35px;
    line-height: 80px;
    padding: 0 20px;
    font-weight: bold; }
  nav .logo {
    color: #fff;
    font-size: 40px;
    margin: 10px 15px; }
  nav .ulNav {
    float: right;
    margin-right: 20px; }
    nav .ulNav .liNav {
      display: inline-block;
      line-height: 80px;
      margin: 0 5px; }
    nav .ulNav .aNav {
      color: #fff;
      font-size: 17px;
      padding: 7px 13px;
      border-radius: 3px;
      text-transform: uppercase; }
      nav .ulNav .aNav:active, nav .ulNav .aNav:hover {
        background: #1b9bff;
        transition: .5s; }

.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none; }

#check {
  display: none; }

@media (max-width: 952px) {
  .labelNav.logo {
    font-size: 30px;
    padding: 16px; }
  nav .ulNav .liNav .aNav {
    font-size: 16px; } }

@media (max-width: 858px) {
  .checkbtn {
    display: block; }
  .ulNav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s; }
  nav .ulNav .liNav {
    display: block;
    margin: 50px 0;
    line-height: 30px; }
  nav .ulNav .liNav .aNav {
    font-size: 20px; }
  .aNav:hover, .aNav.active {
    background: none;
    color: #0082e6; }
  #check:checked ~ .ulNav {
    left: 0; } }

section {
  padding-top: 120px;
  padding-bottom: 120px; }
  section h6 {
    font-size: 80px;
    padding-bottom: 50px;
    color: #E84855; }

.card-effect {
  padding: 25px;
  transition: all 0.35s ease;
  border-radius: solid 5px;
  background-color: #3185FC; }

.card-effect:hover {
  transform: translateY(5px);
  overflow: hidden; }

.iconbox {
  width: 100px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px; }

section {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  section .card {
    margin: 15px;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    background: var(--i);
    background-size: cover;
    background-clip: content-box;
    box-shadow: 3px 5px 5px rgba(3, 32, 51, 0.8);
    transition: all 0.35s ease;
    float: none; }
    section .card:hover {
      transform: translateY(5px);
      overflow: hidden; }
    section .card .content h2 {
      color: #E84855; }
    section .card .content a {
      color: #5171A5; }

section {
  margin-top: 100px; }
  section .color {
    color: #3185FC; }
  section .btn-primary {
    background-color: #E84855;
    border-color: #E84855;
    margin-top: auto; }

form .form-control {
  border: transparent;
  border-radius: 0;
  background-color: #ECF0F1; }

form input {
  height: 56px; }

section {
  min-height: 120px;
  padding: 5px; }

.footer {
  padding: 20px 0;
  background-color: #333232; }
  .footer .listaSocial li {
    margin: 0;
    padding: 2px;
    list-style: none;
    font-size: 15px;
    line-height: 1.0;
    margin-bottom: 0;
    color: #fff; }
  .footer .listaSocial h2 {
    color: #fff;
    font-size: 35px; }
  .footer .copyright {
    color: #E84855;
    padding: 40px; }

.social {
  text-align: center;
  padding-bottom: 30px; }
  .social a {
    color: #E84855;
    font-size: 24px;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75; }
    .social a:hover {
      opacity: 0.9; }

body {
  font-family: 'Staatliches', cursive !important; }

h1 {
  color: #fff; }

span {
  color: #E84855;
  font-size: 80px; }

p {
  color: #fff;
  padding: 10px 0; }

.hero {
  background-image: url(../img/nosotros1.jfif);
  background-size: cover;
  background-position: center;
  padding-top: 200px; }
