nav{
    background: $negro-claro;
    height: 6rem;
    width: 100%;
    padding-bottom: 80px;
    .lavelNav{
        color: #fff;
        font-size: 35px;
        line-height: 80px;
        padding: 0 20px;
        font-weight: bold;
    }
    .logo{
        color: #fff;
        font-size: 40px;
        margin: 10px 15px;
    }
    .ulNav{
       float: right;
       margin-right: 20px;
       .liNav{
           display: inline-block;
           line-height: 80px;
           margin: 0 5px;
       }
       .aNav{
           color: #fff;
           font-size: 17px;
           padding: 7px 13px;
           border-radius: 3px;
           text-transform: uppercase;
           &:active, &:hover{
               background: #1b9bff;
               transition: .5s;
           }
       }
    }
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 952px){
    .labelNav.logo{
        font-size: 30px;
        padding: 16px;
    }
    nav .ulNav .liNav .aNav{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    .ulNav{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav .ulNav .liNav{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav .ulNav .liNav .aNav{
        font-size: 20px;
    }
    .aNav:hover,.aNav.active{
        background: none;
        color: #0082e6
    }
    #check:checked ~ .ulNav{
        left: 0;
    }
}
