section{
    padding-top: 120px;
    padding-bottom: 120px;
    h6{
        font-size: 80px;
        padding-bottom: 50px;
        color: $rojo-pastel;
    }
}

.card-effect{
    padding: 25px;
    transition: all 0.35s ease;
    border-radius: solid 5px;
    background-color: $azul-pastel;
}

.card-effect:hover{
       transform: translateY(5px);
       overflow: hidden;
}

.iconbox{
    width: 100px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
}


