section{
    margin-top: 100px;
    .color{
       color: $azul-pastel;
    }
    .btn-primary{
        background-color: $rojo-pastel;
        border-color: $rojo-pastel;
        margin-top: auto;
    }
}