$negro-claro: #333232;
$celeste-oscuro: #5171A5;
$naranja-fuerte: #EF6351;
$salmon-claro: #F7A399;
$violeta-oscuro: #20063B;
$verde-claro: #C2F9BB;
$gris-claro: #ECF0F1;
$azul-oscuro: #2C497F;
$azul-francia: #0075C4;
$amarillo-mate: #EFA00B;
$gris-oscuro: #4C5B5C;
$naranja-tang: #FF4A1C;
$azul-pastel: #3185FC;
$rojo-pastel: #E84855;
$platino: #E6E8E6;
$indigo: #27187E;
